{% extends '_base.html' %}

{% block title %}Cart page{% endblock title %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">total</th>
      <th scope="col">actions</th>
    </tr>
  </thead>
  <tbody>
 {% for item in cart %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ item.product }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.total_price }}</td>
        <td>i</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="btn btn-success" style="color: white;">Order</a>
{% endblock body %}