{% extends '_base.html' %}

{% block title %}Home page{% endblock title %}

{% block body %}
<br>
<div class="row height d-flex justify-content-center align-items-center">
        <h2 >Search for your favorite food</h2>
      <div class="col-md-8">
          <br>
           <form action="{% url 'customer:food-result'  %}"  method="get">{% csrf_token %}
               <div class="input-group">
                  <input name="q" type="text" class="form-control" placeholder="Search the food name or category..." >
                  <button class="btn btn-primary">Search</button>
              </div>
           </form>
      </div>
    </div>
{% endblock body %}