{% extends '_base.html' %}

{% block title %}{{object.order_id}}{% endblock title %}

{% block body %}
<br>
<h4>Order id: {{object.order_id}}</h4> <hr>
<h4>Total price: {{object.total_price}}$</h4> <hr>

<h4>Items:</h4> <small>{% for item in items %} <a href="{% url 'restaurant:food-detail' item.item.token %}">{{item.item}}</a> {%endfor%}</small> <hr>    

{% if not object.is_paid %}
<a href="{% url 'customer:order-pay'  object.order_id %}" class="btn btn-success">Pay {{object.total_price}}$</a>


{% else %}
    <h4>Status: {{object.status}}</h4>
    {% if object.status == 'sending' %}
        <a class="btn btn-success" href="{% url 'restaurant:food-arrived' object.id object.orderid %}">Arrived</a>
    {% endif %}
{% endif %}

{% endblock body %}