{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{object.name}}{% endblock title %}

{% block body %}
<h1 style="display: inline-block;">{{object.name}}</h1>
<img src="{{object.picture.url}}" style="width:5cm; float: right;">
<hr>
<br><h5>{{object.description}}</h5>
<hr>
<h5>Provider: {{object.provider}}</h5>
<hr><br>
{% if object.is_available %}
    <h5>{{object.inventory}} in stock</h5><br>
    <h5>Price: {{object.price}}</h5><br>
    <button class="btn btn-success" type="submit">Add to card</button>
{% else %}
<h3>This item is currently unavailable</h3>
{% endif %}
<br><br>
<small>Any question? contact: {{object.provider.email}}</small>
<hr>

{% endblock body %}