{% extends '_base.html' %}

{% block title %}Food list{% endblock title %}

{% block body %}
<a  class="btn btn-success" href="{% url 'restaurant:create-food' %}">Add food</a> <br><br>
{% for food in foods %}
<div class="card" style="width: 18rem; display:inline-block;">
  <img class="card-img-top" src="{{food.picture.url}}">
  <div class="card-body">
    <h5 class="card-title">{{food.name}}</h5>
    <p class="card-text">{{food.price}}$ | {{food.inventory}} | {{food.is_available}}</p>
    <a href="{% url 'restaurant:update-food' food.pk food.slug %}" class="btn btn-secondary">Update</a>
      <a href="{{ food.get_absolute_url }}" class="btn btn-secondary">Detail</a>

  </div>
</div>
{% endfor %}
{% endblock body %}