    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4\
     mb-3 bg-white border-bottom shadow-sm">
      <a href="#" class="navbar-brand my-0 mr-md-auto font-weight-normal">FoodStore</a>
      <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if request.user.add_food %}
                        <a class="dropdown-item" href="{% url 'restaurant:restaurant-dashboard' %}">Dashboard</a>
                    {% endif %}

                    <a class="dropdown-item" href="{% url 'customer:cart-page' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                    </a>
                    {% if not request.user.restaurant %}
                        <a class="dropdown-item" href="{% url 'restaurant:register-restaurant' %}">Register Restaurant</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                </div>
          </li>
          {% else %}
          <a class="p-2 text-dark" href="{% url 'account_login' %}">Log In</a>
          <a class="btn btn-outline-primary"
            href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}
      </nav>
    </div>
