{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}DashBord{% endblock title %}

{% block body %}
<h2>DashBord</h2> <hr>
<h4>You have added {{food}} foods.</h4>
<a href="{% url 'restaurant:food-list' %}">List of foods</a>
<br><hr>
<h4><a href="{% url 'restaurant:restaurant-orders' %}">Orders</a> </h4>
<hr>

<h4>Registered Restaurants:</h4>
{% for restaurant in restaurants %}
    <a href="{% url 'restaurant:restaurant-profile' restaurant.token%}"><h4>{{ restaurant.name }}</h4></a> <br>
{% endfor %}
<hr>

{% endblock body %}