{% extends '_base.html' %}
{% block title %}Orders{% endblock title %}

{% block body %}

{% for order in orders %}
   <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{order.order}}
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <a href="{% url 'restaurant:food-detail' order.item.token %}">{{ order.item }}</a> | {{ order.quantity }}
          <br><br>
          <a class="btn btn-success" href="{% url 'restaurant:item-prepared' order.id %}">Prepared</a>
      </div>
    </div>
  </div>
</div>
{% empty %}
  <h3>No order available</h3>
{% endfor %}
{% endblock body %}