{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{object.name}}'s Profile{% endblock title %}

{% block body %}
<h1 style="display: inline-block;">{{object.name}}</h1>
<img src="{{object.picture.url}}" style="width:5cm; float: right;">
<hr>
<p>{{object.description}}</p>
<hr>
<h4>Location</h4>
<h5>{{object.country}} - {{object.city}} - {{object.detailed_address}}</h5>
<hr>
<h4>Email</h4>
<h5>{{object.email}}</h5>
<hr>
<small>owner: {{object.owner}}</small>
{% endblock body %}